{"openapi":"3.1.0","info":{"title":"SAVER Verifier","version":"1.0.0","description":"Paid verification layer for autonomous AI agents. Verify claims before decisions using web evidence and source-backed analysis."},"servers":[{"url":"https://api.saververify.com"}],"paths":{"/verify":{"post":{"operationId":"verifyClaim","summary":"Verify a factual claim","description":"Verifies a factual claim using live web search and source evidence after successful x402 payment.","security":[{"x402":[]}],"x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.20"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"claim":{"type":"string","description":"Claim or factual statement to verify"},"context":{"type":"string","description":"Optional additional context"}},"required":["claim"],"additionalProperties":false},"example":{"claim":"The Ethereum mainnet launched on July 30, 2015.","context":""}}}},"responses":{"200":{"description":"Verification completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"402":{"description":"Payment Required - x402 payment challenge"},"413":{"description":"Request payload too large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"Verification service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Verification timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"VerificationResponse":{"type":"object","properties":{"status":{"type":"string","enum":["supported","contradicted","mixed","insufficient_evidence"]},"confidence":{"type":"number","minimum":0,"maximum":1},"explanation":{"type":"string"},"evidence":{"type":"array","items":{"type":"string"}},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["title","url"],"additionalProperties":false}},"domain":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}},"required":["status","confidence","explanation","evidence","sources","domain","timestamp"],"additionalProperties":false},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"requestId":{"type":"string"}},"required":["error","message","requestId"],"additionalProperties":false}},"securitySchemes":{"x402":{"type":"apiKey","in":"header","name":"PAYMENT-SIGNATURE","description":"x402 payment authorization. Unpaid requests receive HTTP 402 with Payment-Required metadata."}}},"x-discovery":{"ownershipProofs":["0xdfd6cb683F5288e1dD1337E84C09b490857CC110"]}}

